# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Environments
.venv/
env/
venv/

# C / C++ Build artifacts
*.exe
*.o
*.obj
*.out
*.elf
*.bin
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Results / Temp logs
_temp_*
results/*.log
